version: "3.8"

services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      OPENAI_API_KEY: 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

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
